*{
    margin: 0;
    padding:0;
}

header{
    height: 100px;
    background-color: #79e2ff;
    margin: 7px 1%;
    border: 2px solid black;
}

.left{
    display: inline-block;
    float: left;
    background-color: #27c80f;
    width: 15%;
    margin: 10px 1%;
    height: 400px;

}

.center{
    display: inline-block;
    background-color: yellow;
    margin: 10px 1%;
    height: 400px;
    width: 64%;

}

.right{
    display: inline-block;
    float:right;
    background-color: #ff9f2c;
    margin: 10px 1%;
    height: 400px;
    width: 15%;
}

.right div{
    text-align: center;
    margin: 20px auto;
    border: 1px solid black;

}

footer{
    height: 100px;
    background-color: green;
    border: 2px solid black;
    margin: 7px 1%;
}