.buttons{
    display: flex;
    flex-direction: column;
    width:600px;
    margin: 30px auto;
}

.buttons button{
    width: 300px;
    height: 60px;
    color: #f5375b;
    font-size: 2em;
    font-weight: bold;
}