*{
    margin:0;
    padding:0;
}

body{
    width:600px;
    margin:0 auto;
}

/*Styles for task 1*/
article{
    width:600px;
    margin:0 auto;
    border: 4px double black;
}

p{
    text-indent: 0.5em;
    text-align: justify;
    font-size: 1em;
}

.section1{
    font-family: "Times New Roman", sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pushk{
    font-weight: bold;
    font-family: "Arial Black", sans-serif;
    color: #c82417;
    text-decoration: underline;
}

.section2{
    font-family: "Tahoma", sans-serif;
    font-style: italic;

}
.section2 p{
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.section3{
    font-family: "Tahoma", sans-serif;

}
.section3 p{
    text-indent: 2em;
}

.section4{
    font-family: "Tahoma", sans-serif;
    font-size: 1.6em;
    margin-bottom: 10px;
}

.section4 p{
    text-indent: 1.2em;
}

/*Styles for task 2*/
.task2{
    margin-top: 30px;
    display: inline-block;
    width: 300px;
    border:  solid 1px gray;
    padding: 5px;
}

.res{
    text-align: center;
}

.img{
    text-align: center;
}

.but button{
    background: green;
    text-align: center;
    height: 50px;
    width: 100%;
    font-size: 2em;
    color: white;
}
.reset{

}